.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #2f312d;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.container-fluid {
  background-color: rgb(106, 106, 108);
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
  height: 100px;
  margin-top: -10px;
  border: solid rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  flex: 100%;
}



.menu-title {

  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 30px;
  font-size: 0.75em;
}

.Chicken {

  background-color: rgb(142, 142, 142);
  text-align: justify;
  margin-top: 50px;
  padding: 30px;

}

.Beef {

  background-color: rgb(143, 143, 143);
  text-align: justify;
  margin-top: 50px;
  padding: 30px;

}

.Sushi {

  background-color: rgb(142, 140, 140);
  text-align: justify;
  margin-top: 50px;
  padding: 30px;

}

button.navbar-toggler .navbar-header .icon-bar {
  border: 1px solid #242324;
}

.navbar-toggler {
  clear: both;
  margin: 40px;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
  border: solid black;

}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-toggler {
    display: none;
  }

  .nav-list a {
    display: none;
  }

  .drops {
    display: none !important;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-toggler {
    display: none;
  }

  .nav-list a {
    display: none;
  }

  .drops {
    display: none !important;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .nav-list a {
    display: none;
  }

  .drops {
    display: none !important;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #nav-list {
    margin-top: 0px;
    width: 100%;
  }

  #nav-list div {
    text-align: center;
    background-color: #c4bfbf;
    border: solid rgb(52, 51, 51);
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  #nav-list div a {
    font-size: 1.25em;
    color: #000000;
    text-decoration: none;
  }
}
