body {
  margin: 0%;
  padding: 0%;
  width: 100%
}

.head {
  text-align: center;
}

h4 {
  font-style: bold;
  position: relative;
  bottom: 13px;
}

.flex-container,
.flex-container-2 {
  position: relative;
  display: flex;
}

.title {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 2px;
  height: 40px;
  width: 150px;
  text-align: center;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

.Vegan,
.Veg,
.Nonveg {
  position: relative;
  text-align: left;
  width: 33.3%;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 10px 10px 20px grey;
  padding: 40px;
  margin: 15px;
  background: gray;
}

#title-1 {
  background-color: rgb(188, 143, 143);
  text-align: center;
}

#title-2 {
  background-color: rgb(188, 48, 44);
}

#title-3 {
  background-color: rgb(202, 195, 126);
}

@media(min-width : 992px) {
  .flex-container-2 {
    width: 66.66%;
  }

  .Vegan {
    width: 50%;
  }

  .Veg {
    width: 50%;
  }

  .Nonveg {
    width: 33.33%;
  }
}

@media(min-width : 768px) and (max-width: 991px) {

  .flex-container {
    display: inline;
  }

  .flex-container-2 {
    display: flex;
  }

  .Vegan {
    width: 50%;
  }

  .Veg {
    width: 50%;
  }

  .Nonveg {
    width: 96.6%;
  }
}

@media(max-width : 768px) {
  .flex-container {
    flex-direction: column;
    flex: 100%;
  }

  .flex-container-2 {
    flex-direction: column;
  }

  .Vegan {
    width: 96.5%;
  }

  .Veg {
    width: 96.5%;
  }

  .Nonveg {
    width: 96.5%;
  }
}
